In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
dataPath = "dataset/"
timesteps = 28

In [3]:
dt = pd.read_csv(dataPath + "/sales_train_validation.csv")
dt.head(10)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,0,1,0,0,0,2,0,0
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,1,0,1,0,0,1,1
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,12,15,0,0,...,0,0,1,37,3,4,6,3,2,1
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,2,0,7,3,...,0,0,1,1,6,0,0,0,0,0
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,0,0,1,0,...,1,0,0,0,0,0,0,2,0,2

In [4]:
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [5]:
dt = downcast_dtypes(dt)

In [6]:
dt = dt.T    
dt.head(10)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
id,HOBBIES_1_001_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_005_CA_1_validation,HOBBIES_1_006_CA_1_validation,HOBBIES_1_007_CA_1_validation,HOBBIES_1_008_CA_1_validation,HOBBIES_1_009_CA_1_validation,HOBBIES_1_010_CA_1_validation,...,FOODS_3_818_WI_3_validation,FOODS_3_819_WI_3_validation,FOODS_3_820_WI_3_validation,FOODS_3_821_WI_3_validation,FOODS_3_822_WI_3_validation,FOODS_3_823_WI_3_validation,FOODS_3_824_WI_3_validation,FOODS_3_825_WI_3_validation,FOODS_3_826_WI_3_validation,FOODS_3_827_WI_3_validation
item_id,HOBBIES_1_001,HOBBIES_1_002,HOBBIES_1_003,HOBBIES_1_004,HOBBIES_1_005,HOBBIES_1_006,HOBBIES_1_007,HOBBIES_1_008,HOBBIES_1_009,HOBBIES_1_010,...,FOODS_3_818,FOODS_3_819,FOODS_3_820,FOODS_3_821,FOODS_3_822,FOODS_3_823,FOODS_3_824,FOODS_3_825,FOODS_3_826,FOODS_3_827
dept_id,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,...,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3
cat_id,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,...,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS
store_id,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,...,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3
state_id,CA,CA,CA,CA,CA,CA,CA,CA,CA,CA,...,WI,WI,WI,WI,WI,WI,WI,WI,WI,WI
d_1,0,0,0,0,0,0,0,12,2,0,...,0,14,1,0,4,0,0,0,0,0
d_2,0,0,0,0,0,0,0,15,0,0,...,0,11,1,0,4,0,0,6,0,0
d_3,0,0,0,0,0,0,0,0,7,1,...,0,5,1,0,2,2,0,0,0,0
d_4,0,0,0,0,0,0,0,0,3,0,...,0,6,1,0,5,2,0,2,0,0

In [7]:
startDay = 350
dt = dt[6 + startDay:]
dt.head(10)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
d_351,0,0,0,2,0,0,0,24,3,2,...,0,9,1,0,11,0,0,1,0,0
d_352,0,0,0,0,0,0,0,9,0,2,...,0,5,4,0,8,0,1,2,0,0
d_353,0,0,0,4,2,0,0,2,1,1,...,0,15,2,0,3,0,1,2,0,0
d_354,0,1,0,2,0,0,0,7,1,0,...,0,5,1,0,3,0,0,0,0,0
d_355,0,0,0,1,2,0,0,0,0,0,...,0,7,1,0,1,0,1,1,0,0
d_356,0,0,0,0,1,0,0,7,16,1,...,0,2,0,0,1,0,0,0,0,0
d_357,0,0,0,1,0,0,0,4,0,1,...,0,10,2,0,2,0,2,0,0,0
d_358,0,0,0,1,0,0,0,20,1,1,...,0,9,2,0,6,0,1,1,0,0
d_359,0,1,0,8,0,0,0,26,0,0,...,0,9,3,0,5,0,1,1,0,0
d_360,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,5,0,1,0,0,0

In [8]:
daysBeforeEvent = pd.DataFrame(np.zeros((1969,1)))

In [9]:
daysBeforeEventTest = daysBeforeEvent[1913:1941]

daysBeforeEvent = daysBeforeEvent[startDay:1913]

In [10]:
daysBeforeEvent.columns = ["oneDayBeforeEvent"]
daysBeforeEvent.index = dt.index

In [11]:
dt = pd.concat([dt, daysBeforeEvent], axis = 1)

In [12]:
dt.head(10)

,0,1,2,3,4,5,6,7,8,9,...,30481,30482,30483,30484,30485,30486,30487,30488,30489,oneDayBeforeEvent
d_351,0,0,0,2,0,0,0,24,3,2,...,9,1,0,11,0,0,1,0,0,0.0
d_352,0,0,0,0,0,0,0,9,0,2,...,5,4,0,8,0,1,2,0,0,0.0
d_353,0,0,0,4,2,0,0,2,1,1,...,15,2,0,3,0,1,2,0,0,0.0
d_354,0,1,0,2,0,0,0,7,1,0,...,5,1,0,3,0,0,0,0,0,0.0
d_355,0,0,0,1,2,0,0,0,0,0,...,7,1,0,1,0,1,1,0,0,0.0
d_356,0,0,0,0,1,0,0,7,16,1,...,2,0,0,1,0,0,0,0,0,0.0
d_357,0,0,0,1,0,0,0,4,0,1,...,10,2,0,2,0,2,0,0,0,0.0
d_358,0,0,0,1,0,0,0,20,1,1,...,9,2,0,6,0,1,1,0,0,0.0
d_359,0,1,0,8,0,0,0,26,0,0,...,9,3,0,5,0,1,1,0,0,0.0
d_360,0,0,0,1,0,0,0,0,0,0,...,1,0,0,5,0,1,0,0,0,0.0

In [13]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
dt_scaled = sc.fit_transform(dt)

In [14]:
X_train = []
y_train = []
for i in range(timesteps, 1913 - startDay):
    X_train.append(dt_scaled[i-timesteps:i])
    y_train.append(dt_scaled[i][0:30490])

In [15]:
del dt_scaled

In [16]:
import gc
gc.collect()

60

In [17]:
X_train = np.array(X_train)
y_train = np.array(y_train)
print(X_train.shape)
print(y_train.shape)

(1535, 28, 30491)
(1535, 30490)

## Stacked LSTM

In [18]:
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

# Initialising the RNN
regressor = Sequential()

# Adding the first LSTM layer and some Dropout regularisation
layer_1_units=50
regressor.add(LSTM(units = layer_1_units, return_sequences = True, input_shape = (X_train.shape[1], X_train.shape[2])))
regressor.add(Dropout(0.2))

# Adding a second LSTM layer and some Dropout regularisation
layer_2_units=400
regressor.add(LSTM(units = layer_2_units, return_sequences = True))
regressor.add(Dropout(0.2))

# Adding a third LSTM layer and some Dropout regularisation
layer_3_units=400
regressor.add(LSTM(units = layer_3_units))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 30490))

# Compiling the RNN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
epoch_no = 30
batch_size_RNN = 32
regressor.fit(X_train, y_train, epochs = epoch_no, batch_size = batch_size_RNN)

Epoch 1/30
48/48 [==============================] - 45s 943ms/step - loss: 0.0174
Epoch 2/30
48/48 [==============================] - 45s 947ms/step - loss: 0.0155
Epoch 3/30
48/48 [==============================] - 47s 970ms/step - loss: 0.0150
Epoch 4/30
48/48 [==============================] - 44s 920ms/step - loss: 0.0147
Epoch 5/30
48/48 [==============================] - 46s 957ms/step - loss: 0.0145
Epoch 6/30
48/48 [==============================] - 45s 935ms/step - loss: 0.0144
Epoch 7/30
48/48 [==============================] - 44s 924ms/step - loss: 0.0142
Epoch 8/30
48/48 [==============================] - 46s 964ms/step - loss: 0.0141
Epoch 9/30
48/48 [==============================] - 46s 958ms/step - loss: 0.0140
Epoch 10/30
48/48 [==============================] - 45s 944ms/step - loss: 0.0139
Epoch 11/30
48/48 [==============================] - 46s 955ms/step - loss: 0.0137
Epoch 12/30
48/48 [==============================] - 46s 968ms/step - loss: 0.0136
Epoch 13/30
48/48 [==============================] - 46s 953ms/step - loss: 0.0135
Epoch 14/30
48/48 [==============================] - 45s 932ms/step - loss: 0.0134
Epoch 15/30
48/48 [==============================] - 44s 909ms/step - loss: 0.0134
Epoch 16/30
48/48 [==============================] - 45s 938ms/step - loss: 0.0134
Epoch 17/30
48/48 [==============================] - 45s 940ms/step - loss: 0.0133
Epoch 18/30
48/48 [==============================] - 47s 971ms/step - loss: 0.0132
Epoch 19/30
48/48 [==============================] - 46s 955ms/step - loss: 0.0132
Epoch 20/30
48/48 [==============================] - 47s 969ms/step - loss: 0.0132
Epoch 21/30
48/48 [==============================] - 46s 960ms/step - loss: 0.0131
Epoch 22/30
48/48 [==============================] - 46s 964ms/step - loss: 0.0131
Epoch 23/30
48/48 [==============================] - 45s 943ms/step - loss: 0.0130
Epoch 24/30
48/48 [==============================] - 47s 977ms/step - loss: 0.0129
Epoch 25/30
48/48 [==============================] - 47s 983ms/step - loss: 0.0129
Epoch 26/30
48/48 [==============================] - 50s 1s/step - loss: 0.0128
Epoch 27/30
48/48 [==============================] - 46s 965ms/step - loss: 0.0127
Epoch 28/30
48/48 [==============================] - 45s 936ms/step - loss: 0.0127
Epoch 29/30
48/48 [==============================] - 47s 980ms/step - loss: 0.0126
Epoch 30/30
48/48 [==============================] - 45s 938ms/step - loss: 0.0126

In [20]:
inputs= dt[-timesteps:]
inputs = sc.transform(inputs)

In [21]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
predictions = []

for j in range(timesteps,timesteps + 28):
#X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
    predicted_stock_price = regressor.predict(X_test[0,j - timesteps:j].reshape(1, timesteps, 30491))
    testInput = np.column_stack((np.array(predicted_stock_price), daysBeforeEventTest[0][1913 + j - timesteps]))
    X_test = np.append(X_test, testInput).reshape(1,j + 1,30491)
    predicted_stock_price = sc.inverse_transform(testInput)[:,0:30490]
    predictions.append(predicted_stock_price)

In [22]:
import time

submission = pd.DataFrame(data=np.array(predictions).reshape(28,30490))

submission = submission.T
    
submission = pd.concat((submission, submission), ignore_index=True)

sample_submission = pd.read_csv(dataPath + "/sample_submission.csv")
    
idColumn = sample_submission[["id"]]
    
submission[["id"]] = idColumn  

cols = list(submission.columns)
cols = cols[-1:] + cols[:-1]
submission = submission[cols]

colsdeneme = ["id"] + [f"F{i}" for i in range (1,29)]

submission.columns = colsdeneme

currentDateTime = time.strftime("%d%m%Y_%H%M%S")

submission.to_csv("stacked_lstm_submission.csv", index=False)